/* For Chrome & Safari */
#content-wrap::-webkit-scrollbar {
    width: 15px; 
}

#content-wrap::-webkit-scrollbar-track {
    background: #282c34; 
    border-left: 1px solid #5a5d63; 
}

#content-wrap::-webkit-scrollbar-thumb {
    background: #3e4451; 
    border-left: 1px solid #5a5d63; 
}

#content-wrap::-webkit-scrollbar-thumb:hover {
    background: #4e545b; 
}

/* For Firefox */
#content-wrap {
    scrollbar-width: thin; 
    scrollbar-color: #3e4451 #1e2127; 
}

* {
    font-family: 'Consolas', 'Monaco', 'Liberation Mono', 'Courier New', monospace;
}


body {
    margin: 0;
    background-color: #1e2127;
    color: #abb2bf;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

#content-wrap {
    overflow-y: scroll; 
    flex-grow: 1;
    padding-top: 50px; 
    margin-top: 50px;
    height: calc(100vh - 50px);

}

/*-----Navbar------*/
header {
    background-color: #282c34;
    border-bottom: 1px solid #3e4451; 
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    color: #abb2bf;
    height: 50px;
}

header nav {
    display: flex;
    align-items: center;
    padding-right: 20px;
}
header ul {
    margin: 0;
    padding: 0 ;
    display: flex;
    align-items: center;
    list-style: none;
  }

header li {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-flex;
    margin: 10px;
}

header a {
    text-decoration: none;
    color: #61afef;
    padding-left: 10px;
    padding-right: 20px;
}

header a#logo {
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #abb2bf;
}

header a#logo p{
    font-size: 30px; 
    line-height: 1;
    margin: 0;
    white-space: nowrap;
}

.logo-brace {
    color: #61afef; /* Adjust this color to match the desired red/pink */
}

.icon-link {
    display: none; /* Hide icons by default */
}

.text-link {
    display: inline; /* Show text links by default */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .icon-link {
        display: inline; /* Show icons on smaller screens */
    }

    .text-link {
        display: none; /* Hide text links on smaller screens */
    }
}

/*-----Introduction------*/
#welcome {
    position: relative;
    box-sizing: border-box;
    padding: 100px;
    text-align: left;
    width: 100%;
    margin: 100px auto;
    color: #abb2bf;
    background-color: #282c34;
    padding-left: 11%;
    border-top: 1px solid #5a5d63; 
    border-bottom: 1px solid #5a5d63; 
}

#welcome p {
    margin: 5px;
}

#welcome .name-title {
    font-size: 20px;
}

#welcome .student-title {
    font-size: 16px;
    color: #b9b9b9;
}

#welcome .about-me {
    margin-top: 50px;
    font-size: 20px;
    color: #e06c75;
}

#welcome h1 {
    margin: 5px;
    font-size: 45px;
    color: #d19a66;
    font-weight: 500;
}

/*-----Projects------*/
#projects {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

#projects h2 {
    font-size: 36px;
    font-weight: 300;
    margin: 20px 0;
    color: #61afef;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 40px;
}

.project-box {
    border: 1px solid #3e4451; 
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #282c34;
    color: #abb2bf;
    width: 90%;
    margin: 0 auto;
}

.project-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(40, 44, 52, 0.2); 
}

.project-box p {
    color: #e06c75; 
    font-size: 14px;
}

.project-box h3 {
    font-weight: 500;
    font-size: 19px;
    color: #abb2bf; 
}

.project-link {
    display: block;
    text-decoration: none;
    color: #61afef;
    font-weight: bold;
}

.project-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
}

.github-link,
.doc-link {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
}

.github-link img {
    width: 20px;
    height: auto;
    filter: brightness(0) invert(1); /* Adjusted icon color */
}

.doc-link img {
    width: 20px;
    height: auto;
}


@media (max-width: 1024px) {
    .project-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust as needed */
    }
}

@media (max-width: 768px) {
    .project-box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/*----Skills----*/
#skills {
    background-color: #282c34;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    color: #abb2bf;
    margin-bottom: 50px;
    border-top: 1px solid #5a5d63; 
    border-bottom: 1px solid #5a5d63; 
}

#skills h2 {
    font-size: 36px;
    color: #61afef;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-column {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.skill-name {
    min-width: 120px;
    white-space: nowrap;
    padding-right: 5px;
    font-size: 18px;
    color: #abb2bf;
    flex-shrink: 0;
    
}

.progress {
    display: flex;
    align-items: center;
    flex-grow:1;
}

.point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-left: 10px;
}

.html .point.filled{
    background-color: #e34f26;
}

.css .point.filled {
    background-color: #1572b6; 
}

.javascript .point.filled {
    background-color: #f7df1e; 
}

.angular .point.filled {
    background-color: #b52e31
}

.node .point.filled {
    background-color: #8cc84b; 
}

.express .point.filled {
    background-color: #000000; 
}

/*-----Experience------*/
#experience {
    background-color: #1e2127;
    margin-bottom: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#experience h2 {
    font-size: 36px;
    color: #61afef;
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

#experience h3 {
    margin: 5px;
    font-size: 25px;
    color: #d19a66;
    font-weight: 500;
    text-align: center;
}

#experience p {
    margin: 5px;
    font-size: 20px;
    color: #e06c75;
    text-align: center;
}

#experience-box {
    background-color: #282c34;
    width: 80%;
    max-width: 600px;
    min-width: 200px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.experience-pic {
    width: 100px; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
    border-radius: 10%;
}



/*-----Contact Me------*/
#contact-container {
    background-color: #282c34;
    width: 95%;
    margin: 20px auto;
    margin-bottom: 100px;
}

#contact {
    margin: 20px;
    width: 75%;
    padding: 20px;
    color: #abb2bf;
}

#contact h2 {
    font-weight: 300;
    font-size: 36px;
    margin: 5px 5px 0 0;
}

#contact .input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

#contact .input-group {
    width: 48%;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-top: 5px;
    background-color: #3e4451; 
    color: #abb2bf; 
}

#contact textarea {
    height: 300px; 
    resize: none;
}

#contact button {
    padding: 10px 20px;
    border: none;
    color: #e06c75;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #3e4451;
    margin-top: 5px;
    display: block;
    text-align: center;
    margin-left: auto;
}

#contact button:hover {
    background-color: #666;
}

#contact label {
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color:#d19a66;
}

footer {
    background-color: #282c34; 
    color: #d19a66;
    padding: 10px 0; 
    border-top: 1px solid #5a5d63; 
    border-bottom: 1px solid #5a5d63; 
}


footer h3 {
    font-size: 30px;
    margin-left: 30px;
    font-weight: 400;
    color: #d19a66;
}

footer p {
    text-align: center; 
}
